@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

:root
{
    --body-col: #ffffff;
    --bg-col: #eeeeee;
    --font-col: #242424;
    --hover-col: #535353;
    --transition-time: 0.2s;
}

.dark-mode
{
    --body-col: #121212;
    --bg-col: #242424;
    --font-col: #eeeeee;
    --hover-col: #BABABA;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: var(--body-col);
    margin: 2.5em;
    transition: background-color var(--transition-time);
}

#dark-mode-toggle
{
    float: right;
    margin-top: 0.5em;
}

#wrapper
{
    font-family: 'Roboto', sans-serif;
    color: var(--font-col);
    background-color: var(--bg-col);
    border-radius: 0.5em;
    padding: 2em;
    margin: 0 auto;
    width: 40%;
    min-width: 290px;

    transition: background-color var(--transition-time);
}

#header a
{
    color: var(--font-col);
}

#header a:hover
{
    color: var(--hover-col);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#links
{
    border-top: 1px solid;
    border-color: var(--hover-col);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#links a
{
    color: var(--font-col);
    font-weight: bold;
    text-decoration: none;
    padding-right: 0.2em;
}

#links a:hover
{
    color: var(--hover-col);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#portfolio
{
    border-top: 1px solid;
    border-color: var(--hover-col);
}

#article-container
{
    display: flex;
    flex-wrap: wrap;
}

article
{
    width: calc(33.3% - 2em);
    display: block;
    text-align: center;
    position: relative;
    padding: 0.8em;
}

@media screen and (max-width: 1500px) {
    #wrapper
    {
        width: 50%;
    }
    
    article
    {
        width: calc(50% - 2em);
    }
}

@media screen and (max-width: 900px) {
    article
    {
        width: calc(100% - 2em);
    }
}

#article-container a
{
    color: var(--font-col);
    font-weight: bold;
    text-decoration: none;
}

#article-container a:hover
{
    color: var(--hover-col);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

article img 
{
    width: 100%;
    border-radius: 0.8em;
}

article img:hover
{
    opacity: 0.7;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#contact
{
    border-top: 1px solid;
    border-color: var(--hover-col);
}

#contact img
{
    width: 50%;
    border-radius: 0.8em;
}

#contact a :hover
{
    color: var(--hover-col);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#contact i
{
    font-size: 2.5em;
    color: var(--font-col);
    padding-right: 0.2em;
}