@import url('https://fonts.googleapis.com/css2?family=League+Spartan');

:root
{
    --body-col: #ffffff;
    --bg-col: #eeeeee;
    --font-col: #242424;
    --hover-col: #535353;
    --transition-time: 0.35s;
}

.dark-mode
{
    --body-col: #121212;
    --bg-col: #242424;
    --font-col: #eeeeee;
    --hover-col: #BABABA;
}

@font-face
{
    font-family: 'League Spartan Variable';
    src: url('includes/LeagueSpartan-VF.woff2') format('woff2-variations');
    font-variation-settings: "wght" 200, 900;
}

html
{
    scroll-behavior: smooth;
    font-family: 'League Spartan Variable', sans-serif;
}

body
{
    background-color: var(--body-col);
    margin: 1.0em;
    transition: background-color var(--transition-time);
}

#wrapper
{
    color: var(--font-col);
    padding: 0.5em;
    margin: 0 auto;
    width: 60%;
    min-width: 750px;
    transition: background-color var(--transition-time);
}

#dark-mode-toggle
{
    display: inherit;
}

a
{
    color: var(--font-col);
    font-weight: bold;
    text-decoration: none;
}

a:hover
{
    color: var(--hover-col);
    transition: var(--transition-time);
}

h1
{
    font-size: 48px;
}

#header
{
    margin-bottom: 4.5em;
    font-variation-settings: "wght" 600;
}

#header h1
{
    padding: 0;
    margin: 0;
    float: left;
    font-variation-settings: inherit;
}

#nav-menu ul
{
    float: right;
    position: relative;
}

#nav-menu li
{
    display: inline-block;
    margin-left: 2.5em;
}

#showcase
{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.showcase-video
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#article-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

article
{
    position: relative;
    text-align: center;
}

article img 
{
    object-fit: cover;
    width: 100%;
}

article img:hover
{
    opacity: 0.7;
    transition: var(--transition-time);
}

#contact
{
    padding-top: 1em;
}

#contact img
{
    width: 50%;
    border-radius: 0.8em;
}

#contact ul
{
    padding: 0;
    list-style-type: circle;
}

#footer
{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#footer i
{
    font-size: 2.5em;
    color: var(--font-col);
    padding-right: 0.2em;
}

#footer i:hover
{
    color: var(--hover-col);
    transition: var(--transition-time);
}